*{
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}
#menu{
    width: 100%;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.title{
    text-align: center;
    width: 100%;
    font-size: 30px;
}
#playbutt{
    width: 200px;
    text-align: center;
    margin-top: 50px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
}
#playbutt:hover{
    background-color: lightseagreen;
}
#containergame{
    width: 100%;
    margin-top: 300px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}
.titlep, .titlee{
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
}
#containerplayer, #containerbot{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}
#containerplayer{
    margin-left: 150px;
}
#containerbot{
    margin-right: 150px;
}
.field, .fielde{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
/*.field{
    cursor: pointer;
}
.fielde{
    cursor: wait;
}*/
#reset, #ready{
    margin-top: 50px;
    border: 1px solid black;
    background-color: grey;
    padding: 15px;
    cursor:pointer;
    margin-left: 15px;
}

/*responsive*/
@media only screen and (max-width: 1600px){
    .field, .fielde{
        width: 50px;
        height: 50px;
    }
    #containerplayer, #containerbot{
        width: 306px;
        height: 100px;
    }
    #containerplayer{
        margin-left: 75px;
    }
    #containerbot{
        margin-right: 75px;
    }
}

@media only screen and (max-width: 775px){
    .field, .fielde{
        width: 25px;
        height: 25px;
    }
    #containerplayer, #containerbot{
        width: 153px;
        height: 50px;
    }
    #containerplayer{
        margin-left: 35px;
    }
    #containerbot{
        margin-right: 35px;
    }
}